.search-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto 24px;
    min-width: 504px;
}

.search-container input {
    border-radius: 18px 0 0 18px;

}

.search-container button {
    border-radius: 0 18px 18px 0;
}

.search-container button svg {
    margin: -2px 0 0;
}
