.products .row {
    gap: 8px;
    justify-content: center;
}

.product-card {
    width: 100%;
    width: 320px;
    min-height: 240px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    text-decoration: none;
}

.product-card:hover {
    scale: 1.1;
    transition: all .2s;
}

.product-card .content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-card img {
    width: 100%;
    max-width: 140px;
    height: 140px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.product-card .content .title {
    flex: 1;
    color: var(--primary-color);
}

.product-card .content .price {
    font-weight: 500;
    color: var(--text-color);
}